@model Turista.Data.Resorts.Resort
<ul class="sidenav">
    <li id="propInfo"><a asp-action="Resort" asp-route-id="@Model.Id"><i class="icon-hotel"></i>@lang.ResortInfo<i class="icon-chevron-right"></i></a></li>
    @if (Model.Id != Guid.Empty)
    {
        <li id="resortUtil"><a asp-action="ResortUtilities" asp-route-id="@Model.Id"><i class="icon-wifi"></i>@lang.UtitiltiesAndServices<i class="icon-chevron-right"></i></a></li>
        <li id="resortImg"><a asp-action="ResortImages" asp-route-id="@Model.Id"><i class="icon-image"></i>@lang.ResortImages<i class="icon-chevron-right"></i></a></li>
        <li id="resortProp"><a asp-action="ResortProperties" asp-route-id="@Model.Id"><i class="icon-umbrella-beach"></i>@lang.TheChalets<i class="icon-chevron-right"></i></a></li>
        <li id="resortReserve"><a asp-action="ResortReservations" asp-route-id="@Model.Id"><i class="icon-ticket-alt"></i>@lang.TheReservations<i class="icon-chevron-right"></i></a></li>
    }
</ul>
