@model Turista.Data.Identity.User
<input type="hidden" id="phoneNumber" value="@Model.PhoneNumber" />
<input type="hidden" id="userType" value="@Model.UserType" />
<div class="text-danger col-12" id="error"></div>
<div class="col-12 form-group">
    <label for="password">@lang.Password:</label>
    <div class="input-group">
        <input type="password" id="password" onkeypress="passwordPressed(this)" class="form-control required" value="" placeholder="@lang.EnterYourPassword">
        <div class="input-group-prepend">
            <span class="password-showhide">
                <button onclick="showHidePassword(this)" class="show-password btn btn-link">@lang.Show</button>
                <button onclick="showHidePassword(this)" class="hide-password btn btn-link">@lang.Hide</button>
            </span>
        </div>
    </div>
    
</div>
<div class="col-12 form-group">
    <button class="button button-3d button-black m-0" onclick="CheckPassword()" type="button" id="login-button" name="login-form-submit">@lang.Login</button>
    <label class="float-right">
        @lang.RememberMe?
        <input type="checkbox" id="rememberMe" />
    </label>
</div>
<hr />
<div class="col-12 form-group">
    <a href="#" class="text-center" onclick="ForgetPassword()" id="login-button" name="login-form-submit">@lang.ForgetPassword?</a>
</div>